 {% extends "base.html"%}
 {% block viewport %}
    width=device-width, initial-scale=1, maximum-scale=1
 {% endblock %}
 {% block title%}
    Компьютерный мастер с выездом на дом
 {% endblock%}
 {% block content %}
     <div id="front">
        <div class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div id="templatemo_logo">
                            <h1>
                                <a href="http://rybinsk-tech.com/admin">
                                    <div id="Log">
                                        <div class="row" id="part1">
                                            Rybinsk
                                        </div>
                                        <div class="row" id="part2">
                                         Tech 
                                     </div>
                                 </div>
                             </a>
                            </h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-8 col-sm-7 col-xs-6">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="main-menu">
                            <ul>
                             <li><a href="#front"">Главная</a></li>
                             <li><a href="#services">Услуги</a></li>
                             <li><a href="#products">Цены</a></li>
                             <li id="contacts"><a href="#contact" >Контакты</a></li>
                         </ul>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="responsive">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="#front">Главная</a></li>
                                    <li><a href="#services">Услуги</a></li>
                                    <li><a href="#products">Цены</a></li>
                                    <li><a href="#contact">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div> <!-- /#front -->

    <div class="site-slider">
        <ul class="bxslider">
            <li>
                <img src="/static/images/slider/slide1.jpg" alt="slider image 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption" id="right">
                                <h2>Ремонт компьютеров и ноутбуков</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="/static/images/slider/slide2.png" alt="slider image 2">
                <div class="container caption-wrapper">
                    <div class="slider-caption" id="left">
                        <h2>Удаление вирусов и рекламы</h2>
                    </div>
                </div>
            </li>
            <li>
                <img src="/static/images/slider/slide3.jpg" alt="slider image 3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption" id="right">
                                <h2>Замена комплектующих</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="/static/images/slider/slide4.jpg" alt="slider image 4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption" id="left">
                                <h2>Установка Windows</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="/static/images/slider/slide5.jpg" alt="slider image 5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption" id="right">
                                <h2>Чистка от пыли</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> <!-- /.bxslider -->
        <div class="bxblock_one">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 hash" >
                        <p id="phone"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+7 (980) 773 76 25</p>
                        <p><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Круглосуточно, без выходных</p>
                    </div>
                    <div class="col-md-4 hidden-xs hidden-sm " id="advantages">
                        <ul>
                            <li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Фиксированные цены</span></li>
                            <li><span class="glyphicon glyphicon-send" ></span>&nbsp;&nbsp;Выезд + Диагностика = 0 руб.</li>
                            <li><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;Скидка 10% при заказе через сайт</li>
                            <li><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Честный ремонт за 45 мин</li>
                            <li><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Выезд мастера за 30 минут</li>
                            <li><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Железная гарантия</li>
                        </ul>      
                    </div>
                    <div class="col-md-3">
                        <p>Нужна помощь?</p>
                        <p><a class="btn btn-default" href="#contact">Вызвать мастера</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner hidden-xs" >
            <p>
               <!-- admitad.banner: aecg2qexz85e03d7bb1d86cd98cf0a skyeng.ru -->
               <a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/aecg2qexz85e03d7bb1d86cd98cf0a/?i=4"><img width="728" height="90" border="0" src="https://ad.admitad.com/b/aecg2qexz85e03d7bb1d86cd98cf0a/" alt="skyeng.ru"/></a>
               <!-- /admitad.banner -->
           </p>
       </div>
       <div id="services" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Компьютерные услуги в Рыбинске</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Ремонт компьютеров</h3>
                            <span class="service-icon first"></span>
                        </div>
                        <div class="text_wrapper">
                            <p>Мы ремонтируем  любые функциональные узлы и модули компьютеров, либо предлагаем осуществить замену вышедшего из строя элемента. Осуществляется операция максимально быстро, что является очень важным достоинством сервиса.</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Ремонт ноутбуков</h3>
                            <span class="service-icon second"></span>
                        </div>
                        <div class="text_wrapper">
                            <p> Стоимость предоставляемых услуг по ремонту ноутбука в первую очередь зависит от вида поломки и самого уровня ремонта. Замена модуля оперативной памяти обойдется намного дешевле, чем восстановление разбитого экрана ноутбука или вышедшего из строя чипа видеокарты.</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Установка Windows</h3>
                            <span class="service-icon third"></span>
                        </div>
                        <div class="text_wrapper">
                            <p>При установке Windows необходимо учитывать ряд аспектов: разрядность процессора, совместимость драйверов устройств, которые будут установлены, разделение жесткого диска на несколько локальных, форматирование, проверка SMART жесткого диска перед установкой системы.</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Замена комплектующих</h3>
                            <span class="service-icon fourth"></span>
                        </div>
                        <div class="text_wrapper">  
                            <p>Со временем все компьютеры устаревают, перестают быстро выполнять задачи, медленно работают новые программы. Чтобы компьютер мог успевать за развитием новых технологий, требуется его апгрейд.  При желании, можно получить новый мощный компьютер в старом корпусе!</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Восстановление данных</h3>
                            <span class="service-icon five"></span>
                        </div>
                        <div class="text_wrapper">
                            <p>Восстановление данных представляет собой процесс извлечения особо ценной информации с различных запоминающих устройств. К данному методу прочтения прибегают в тех случаях, когда информацию нельзя прочесть иными обычными методами.</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Абонентское обслуживание</h3>
                            <span class="service-icon six"></span>
                        </div>
                        <div class="text_wrapper">
                            <p>Во всех организациях, офисах и предприятиях имеется компьютерная и другая цифровая оргтехника, которая должна постоянно находиться в идеальном техническом состоянии.
                                В случае заключения договора об абонентском обслуживании стоимость услуг значительно ниже.
                            </p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Настройка сети</h3>
                            <span class="service-icon seven"></span>
                        </div>
                        <div class="text_wrapper">
                            <p> Установка роутера, настройка интернета или WiFi — умения, которые могут освоить не все. Но главное, чтобы быть уверенным в правильной работе сетей WiFi или роутера, необходимо обращаться к профессионалам. Именно поэтому мы предлагаем вам свою помощь!</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="texture">
                            <h3>Устранение перегрева</h3>
                            <span class="service-icon eigth"></span>
                        </div>
                        <div class="text_wrapper">  
                            <p>Во время использования система охлаждения засоряется начинает нагреваться. Если не произвести чистку системы охлаждения, то можно угодить на дорогой ремонт. Профилактика поможет защитить компьютер от серьезных проблем, например, такой как отслаивание видео-чипа.</p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->

    <div id="product-promotion" class="content-section">
        <div class="container">
           <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Всё просто! </h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row <-->
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="item-small">
                    <img src="/static/images/promotion/intel.png" alt="Product 1">
                    <h4>Гарантия качества</h4>
                </div> <!-- /.item-small -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-8 col-sm-6">
                <div class="item-large">
                    <img src="/static/images/promotion/remont.jpg" alt="Product 2">
                    <div class="item-large-content">
                        <div class="item-header">
                            <span class="pull-right">Рейтинг: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></span>
                                <h2 class="pull-left" style="margin-top: 30px; ">Вызов компьютерного мастера на дом</h2>
                                <div class="clearfix"></div>
                            </div> <!-- /.item-header -->
                            <p>Мы имеем большой опыт в ремонте и обслуживании любых моделей компьютеров, ноутбуков, роутеров и других видов цифровой и вычислительной техники.
                            </p>
                            <p> 
                                Для определения неполадок компьютера или ноутбука компьютерному мастеру необходимо провести начальную диагностику Вашего оборудования, с целью составления сметы на ремонт. Эта процедура у нас также бесплатна!</p>
                                <h3>Как вызвать компьютерного мастера на дом или в офис?</h3>
                                <ol>
                                    <li>Позвоните нам или <a href="#contact">оставьте заявку на обратный звонок</a>;</li>
                                    <li>Опишите Вашу проблему;</li>
                                    <li>Назначьте удобное для Вас время приезда компьютерного мастера!</li>
                                </ol>
                                <h3>Как скоро приедет мастер или курьер? Сколько будут стоить услуги по ремонту?</h3>
                                <ul id="questions">
                                    <li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Мастер приедет к Вам в течение 1 часа или в любое удобное для Вас время;</li>
                                    <li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Перед началом работ по настройке или ремонту компьютера, ноутбука или офисной техники специалист проведет диагностику бесплатно!</li>
                                    <li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Подробные цены на ремонт и компьютерные услуги сервиса <a href="#products">смотрите ниже.</a></li>
                                </ul>
                            </div> <!-- /.item-large-content -->
                        </div> <!-- /.item-large -->
                    </div> <!-- /.col-md-8 -->
                    <div class="col-md-2 col-sm-3">
                        <div class="item-small">
                            <img src="/static/images/promotion/nvidia.png" alt="nvidia">
                            <h4>Бесплатная диагностика</h4>
                        </div> <!-- /.item-small -->
                    </div> <!-- /.col-md-2 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /#product-promotion -->

       
        <div id="products_mobile" class="content-section visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title">Стоимость наших услуги</h1>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" >
                        <h3>Что вас интересует?</h3>
                    </div>
                </div>
                <div class="row" id="price_menu">
                    <div class="col-md-8 col-md-offset-2" >
                        {% for section, services in context %}
                            <div class="col-md-4">
                                <a href="services/prices/{{ section.href }}/">{{ section.name }}</a >
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="products" class="content-section hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title">Стоимость наших услуги</h1>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" >
                        <h3>Что вас интересует?</h3>
                    </div>
                </div>
                <div class="row" id="price_menu">
                    <div class="col-md-8 col-md-offset-2" >
                        {% for section, services in context %}
                            {% if section.href != "overal" %}
                                <div class="col-md-4"><a href="#{{ section.href }}">{{ section.name }}</a ></div>    
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% for section,services in context %}
                    <div id="{{ section.href }}"></div> 
                    <div  class="content-section price">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h3>{{ section.name }}</h3>
                                    <table id="table_price"> 
                                        <tr>
                                            <th>Наименование услуги</th>
                                            <th>Примечания</th>
                                            <th>Стоимость услуги</th>
                                        </tr>
                                        {% for service in services %}
                                        <tr>
                                            <td>{{ service.name }}</td>
                                            <td class="notes">{{ service.notes }}</td>
                                            <td>
                                            {% if service.price %}
                                                {{ service.price }} руб.
                                            {% else %}
                                                Бесплатно
                                            {% endif %}
                                            </td>
                                        </tr>    
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- /.container -->
        </div> <!-- /#products -->
        <div id="contact" class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="section-title">Контактная информация</h1>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center bigger-text">
                        <p>«RybinskTech» — сервисный центр по ремонту и обслуживанию компьютерной техники в Рыбинске. Обратитесь к нашим специалистам и получите профессиональную компьютерную помощь на дом. Бесплатные консультации!
                        </p>
                        <p> 
                            Вы можете обратиться к нам по телефону или по электронной почте. Будем рады помочь Вам и ответить на все Ваши вопросы!</p>
                        </div>
                        <div class="col-md-6 col-sm-6">

                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">

                            <div class="row contact-form">

                                <fieldset class="col-md-6 col-sm-6">
                                    <input id="name" type="text" name="name" placeholder="Имя">
                                </fieldset>
                                <fieldset class="col-md-6 col-sm-6">
                                    <input type="text" name="phone" id="email" placeholder="Номер телефона">
                                </fieldset>
                                <fieldset class="col-md-12">
                                    <input type="text" name="subject" id="subject" placeholder="Тема">
                                </fieldset>
                                <fieldset class="col-md-12">
                                    <textarea name="comments" id="comments" placeholder="Описание проблемы"></textarea>
                                </fieldset>
                                <fieldset class="col-md-12">
                                    <input type="submit" name="send" value="Отправить Заявку" id="submit" class="button" style="width: 100%; text-align: center">
                                </fieldset>

                            </div> <!-- /.contact-form -->

                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> 

            <div class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <span id="copyright">
                                Copyright &copy; 2016 <a href="#">Rybinsk Tech</a>
                            </span>

                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-4 col-sm-6">
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.site-footer -->
{% endblock %}
