{% extends "base.html"%}

{% block  viewport %}
  width=device-width, initial-scale=1, maximum-scale=2
{% endblock %}
{% block title%}
{{ section_name}}
{% endblock%}

{% block  content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ section_name }}</h3>
      <table id="table_price"> 
        <tr>
          <th>Наименование услуги</th>
          <th>Примечания</th>
          <th>Стоимость услуги</th>
        </tr>
        {% for service in price_list %}
        <tr>
          <td>{{ service.name }}</td>
          <td class="notes">{{ service.notes }}</td>
          <td>
            {% if service.price %}
            {{ service.price }} руб.
            {% else %}
            Бесплатно
            {% endif %}
          </td>
        </tr>    
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
